<div class="container">
  <h3>Payment Form</h3>
</div>

<div class="row">
  <div class="form-group col">
    <label>Payee Name</label>
    <input [(ngModel)]="name" class="form-control" />
  </div>
  <div class="col">
    <label><b>Name</b></label>
    <div>{{ name | titlecase }}</div>
  </div>
</div>

<div class="row">
  <div class="form-group col">
    <label>Payment Date</label>
    <input type="date" [(ngModel)]="date" class="form-control" />
  </div>
  <div class="col">
    <label><b>Payment Date</b></label>
    <div>{{ date | date : "d MMMM, y" }}</div>
  </div>
</div>

<div class="row">
  <div class="form-group col">
    <label>Payment Amount</label>
    <input type="text" [(ngModel)]="amount" class="form-control" />
  </div>
  <div class="col">
    <label><b>Payment Amount</b></label>
    <div>{{ amount | currency : "BRL" }}</div>
  </div>
</div>

<div class="row">
  <div class="form-group col">
    <label>Height</label>
    <input type="text" [(ngModel)]="height" class="form-control" />
  </div>
  <div class="col">
    <label><b>Height</b></label>
    <div>{{ height | number : "1.0-0" }}</div>
  </div>
</div>

<div class="row">
  <div class="form-group col">
    <label>Miles</label>
    <input type="text" [(ngModel)]="miles" class="form-control" />
  </div>
  <div class="col">
    <label><b>Km</b></label>
    <div>
      {{ miles | convert : "km" | number : "1.0-2" }}
    </div>
  </div>
</div>

{{ car | json }}
